body{
    background:#f4f7fa;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 99vw;
}

div{
    display: flex;
}

ul{
    margin-top: 0px;
}
td, tr {
    font-size: large;
}
table{
    width: 30vw;
    background:white;
    border:2px solid black;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 5px 5px 10px #00000050;
    padding:2.5vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    margin-bottom: 1.5;
}
td{
    border-bottom: 2px solid #e5ecf6;
}

header{
    font-size: xx-large;
    position: sticky;
    width: 100%;
    padding-inline: 5vw;
    padding-top:1vh;
    height:6vh;
    margin-left: -1vw;
    top:0vh;
    margin-top: -1vh;
    background-color: white;
    box-shadow: 0px 0px 10px #bfcddc;
    z-index: 10;
}

#buttons{
    flex-direction: row;
    margin:1vh;
}
.headbtn{
    background-color: transparent;
    border-style: none;
    border-radius: 2rem;
    font-size: xx-large;
    padding:1vh;
    padding-inline: 1vw;
    transition: all .15s ease-in-out;
}
.headbtn:hover{
    background-color: white;
    box-shadow: 0px 0px 5px black;
    transition: all .3s ease-in-out;
}

.information{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-inline: 2.5vw;
}

.graphs{
    background-color: #f4f7fa;
    flex-direction: column;
}
.chart{
    margin:2vw;
    border:2px solid black;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 5px 5px 10px #00000050;
}
