{% extends "basic.html" %}
<!--This is the html head.-->
{% block head %}


{% endblock %}
{% block body %}
<header class = "header" >Open Collective Data Visualization</header>
<div class = "information">
    <div id="buttons">
        <button class="headbtn" id="about">About</button>
        <button class="headbtn" id="inst">Instructions</button>
        <button class="headbtn" id="tips">Tips</button>
    </div>
        <div style="text-align: center;">
            Open Collective Data Visualization is a tool for community leaders and supporters. It supports Open Collective's vision
            of more transparent crowd-funded projects by making the data provided easier to understand. While Open Collective provides
            lists of names and amounts, it does little to nothing in terms of visually showing you how it all correlates.
            That blind spot is what this project fills by providing useful charts, names, and tracking for all parties involved
        </div>
</div>
<div style="justify-content: center;align-items: center;padding:5vh;">
    <input id="communityName" placeholder="Open Collective Community Link" size="50"></input >
    <button id="communityButton">Get Data</button>
</div>
<div class="graphs">
    <div class="chart" id="chart1"></div>
    <div class="chart" id="chart2"></div>
    <div class="chart" id="chart3"></div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graph1 = {{ graph1JSON | safe}}
    Plotly.plot("chart1", graph1, {})

    var graph2 = {{ graph2JSON | safe}}
    Plotly.plot("chart2", graph2, {})

    var graph3 = {{ graph3JSON | safe}}
    Plotly.plot("chart3", graph3, {})

</script>
{% endblock %}