{% extends "basic.html" %}
<!--This is the html head.-->
{% block head %}
{% endblock %}
{% block body %}
<header class = "header">Open Collective Data Visualization</header>
<div class = "information">
    <div id="buttons">
        <button class="headbtn" id="about">About</button>
        <button class="headbtn" id="inst">Instructions</button>
        <button class="headbtn" id="tips">Tips</button>
    </div>
        <div style="text-align: center; height:7vh;" id="infotext">
            <span>
            Open Collective Data Visualization is a tool for community leaders and supporters. It supports Open Collective's vision
            of more transparent crowd-funded projects by making the data provided easier to understand. While Open Collective provides
            lists of names and amounts, it does little to nothing in terms of visually showing you how it all correlates.
            That blind spot is what this project fills by providing useful charts, names, and tracking for all parties involved
            </span>
        </div>
</div>
<!--This creates a form that calls to the index method when submitted -->
<div  style="justify-content:center;padding:5vh;">
    <form action="{{ url_for("index")}}" method="post">
        <input id="communityName" placeholder="Open Collective Community Link" size="50" name="comname"></input >
        <button id="communityButton">View</button>
    </form>
</div>
{% if name %}
<div style="width:100vw;flex-direction: column;text-align: center;font-size: xx-large;">
    {{name}}'s Information
    <div style="width: 95vw;margin-left: auto;margin-right:auto;border-radius: 1rem;margin-top: 5vh;border:2px solid black;background-color: white;flex-direction: column;">
    <span style="text-align: left;margin-left: 10vw;">Team</span>
    <img src = {{url_for('static', filename='team.png')}} style="border-radius:2rem;height: 37.5vh; width:67vh;margin-left:auto;margin-right:auto;margin-bottom: 2vh;">
    </div>
    <img src = {{url_for('static', filename='topcontributions.png')}} style="width: 90vw;margin-left: auto;margin-right:auto;border-radius: 1rem;margin-top: 5vh;border:2px solid black;padding-left: 5vw;padding-right: -5vw;background:white;">
</div>

<div style="flex-direction:row;justify-content: center;align-items: center;">
    <table>
        <tr>
            <td style="color:rgba(98,109,251,255);">Some Statistics</td>
        </tr>
        <tr>
            <td>Amount of Contributions</td>
            <td>{{acon}}</td>
        </tr>
        <tr>
            <td>Amount of Expenses</td>
            <td>{{aexp}} (USD)</td>
        </tr>
        <tr>
            <td>Total Raised</td>
            <td>{{traised}} (USD)</td>
        </tr>
        <tr>
            <td>Total Spent</td>
            <td>{{tspent}} (USD)</td> 
        </tr>
        <tr>
            <td>Average Contribution</td>
            <td>{{avgcon}} (USD)</td>
        </tr>
        <tr>
            <td>Average Expense</td>
            <td>{{avgexp}} (USD)</td>
        </tr>
        <tr>
            <td>Founded</td>
            <td>founded date</td>
        </tr>
    </table>
    <table style="margin-top:3vh;">
        <tr>
            <td>
                All Time Top Expenses 
            </td>
        </tr>
        <tr style="color: rgba(98,109,251,255);">
            <td>Name</td>
            <td>Amount</td>
        </tr>
        <tr>
            <td>{{enames[0]}}</td>
            <td>{{expenses[0]}}</td>
        </tr>
        <tr>
            <td>{{enames[1]}}</td>
            <td>{{expenses[1]}}</td>
        </tr>
        <tr>
            <td>{{enames[2]}}</td>
            <td>{{expenses[2]}}</td>
        </tr>
        <tr>
            <td>{{enames[3]}}</td>
            <td>{{expenses[3]}}</td>
        </tr>
        <tr>
            <td>{{enames[4]}}</td>
            <td>{{expenses[4]}}</td>
        </tr>
        <tr>
            <td>{{enames[5]}}</td>
            <td>{{expenses[5]}}</td>
        </tr>
        <tr>
            <td>{{enames[6]}}</td>
            <td>{{expenses[6]}}</td>
        </tr>
        <tr>
            <td>{{enames[7]}}</td>
            <td>{{expenses[7]}}</td>
        </tr>
        <tr>
            <td>{{enames[8]}}</td>
            <td>{{expenses[8]}}</td>
        </tr>
        <tr>
            <td>{{enames[9]}}</td>
            <td>{{expenses[9]}}</td>
        </tr>
    </table>

</div>
<div class="graphs">
    <div class="chart" id="chart1"></div>
    <div class="chart" id="chart2"></div>
    <div class="chart" id="chart3"></div>
</div>
{% elif Error %}
<div style="width:100%;margin-left:28%;color:red;font-weight: bold;"> There was an error with the open collective link provided, please try again</div>
{% else %}
<div></div>
{% endif %}


<!--Button script for changing the info text (About Inst and Tips)-->
<script src="{{url_for('static', filename='buttons.js')}}"></script>

<!--Graphs scripts-->
{% if not nolink%}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graph1 = {{ graph1JSON | safe}}
    Plotly.plot("chart1", graph1, {})

    var graph2 = {{ graph2JSON | safe}}
    Plotly.plot("chart2", graph2, {})

    var graph3 = {{ graph3JSON | safe}}
    Plotly.plot("chart3", graph3, {})

    $('body').append('<div style="" id="loadingDiv"><div class="loader">Loading...</div></div>');
    $(window).on('load', function(){
    setTimeout(removeLoader, 2000); //wait for page load PLUS two seconds.
    });
    function removeLoader(){
        $( "#loadingDiv" ).fadeOut(500, function() {
        // fadeOut complete. Remove the loading div
        $( "#loadingDiv" ).remove(); //makes page more lightweight 
    });  
    }
</script>

{% endif %}
{% endblock %}